html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
input[type='submit'] {
	border: none;
	outline: none;
}

@font-face {
	font-family: 'Quicksand';
	src: url(./fonts/Quicksand-Regular.ttf);
}

@font-face {
	font-family: 'NerkoOne';
	src: url(./fonts/NerkoOne-Regular.ttf);
}

:root {
	--nav-background: #4b4b4b;
	--nav-color: white;
	--aside-background: #afafaf;
	--aside-color: black;
	--aside-item: #8b8b8b;
	--aside-item-btn: #686868;
	--main-background: #d7d9ce;
	--main-color: black;

	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;

	--danger-hover: #fd3e51;
	--success-hover: #31b14f;
}

body {
	background-color: var(--main-background);
}

input[type='text'],
select {
	height: 28px;
}

textarea {
	resize: none;
}

button {
	border: none;
	outline: none;
}

.site-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav {
	width: 100%;
	height: 80px;
	background-color: var(--nav-background);
	color: var(--nav-color);
	display: flex;
	padding: 10px;
}

.width-half {
	width: 50%;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-gray {
	color: gray;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input-wrapper.checkbox-wrapper {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.main-wrapper {
	height: 100%;
	width: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 3rem;
	font-family: 'Quicksand';
}

.aside {
	height: 100%;
	width: 300px;
	background-color: var(--aside-background);
	color: var(--aside-color);
	padding: 10px;
}

.projects {
	padding: 10px;
	gap: 15px;
}

.add-project-wrapper {
	justify-content: space-between;
	padding: 10px;
}

.add-project-img {
	height: min(64px, 2rem);
	width: min(64px, 2rem);
	cursor: pointer;
}

.project {
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--aside-item);
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}

.project-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn-delete-project {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 5px;
	height: 25px;
	width: 25px;
	background-color: var(--danger);
	color: white;
}

.btn-delete-project:hover {
	background-color: var(--danger-hover);
}

.project:hover > .btn-delete-project {
	display: flex;
}

.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
}

.main-project-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: relative;
}

.main-project-name {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.project-edit-btn {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.todos {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.todo-container {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: gray;
	gap: 5px;
	padding: 15px 20px;
	white-space: nowrap;
}

.todo-form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-form {
	width: unset;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
}

.todo-form-inputs-wrapper {
	display: flex;
	gap: 5px;
}

.todo-form-control-wrapper {
	justify-content: flex-end;
	height: 100%;
	width: 100%;
}

.todo-form-btn {
	padding: 5px;
	background-color: #8b8b8b;
	cursor: pointer;
}

.todo-control-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 7px;
}

.todo-form-cancel-btn {
	background-color: var(--danger);
	cursor: pointer;
}

.todo-form-cancel-btn:hover {
	background-color: var(--danger-hover);
}

.todo-element {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.todo-basic-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-delete-btn {
	padding: 5px;
	width: 40px;
	background-color: gainsboro;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.2s;
	border-radius: 5px;
}
.todo-delete-btn > img {
	width: 100%;
	transition: all 0.2s;
}

.todo-delete-btn:hover {
	background-color: var(--danger);
	transition: all 0.2s;
}

.todo-delete-btn:hover > img {
	filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(248deg)
		brightness(103%) contrast(101%);
	transition: all 0.2s;
}

.collapse-todo-btn {
	margin-left: auto;
	padding: 3px;
	cursor: pointer;
	transition: all 0.2s;
}

.collapse-todo-btn:not(.collapsed) {
	transform: rotate(180deg);
	transition: all 0.2s;
}

.todo-details-container {
	background-color: white;
	width: 100%;
}

.todo-details {
	display: flex;
	justify-content: space-between;
	max-height: 110px;
}

.details-text {
	max-height: 110px;
}

.todo-detail {
	display: inline-block;
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: break-spaces;
	hyphens: auto;
	width: 200px;
}

.long-string {
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.todo-details-controls {
	display: flex;
	width: 100%;
	justify-content: end;
	gap: 10px;
}

.todo-edit-btn {
	background-color: var(--danger);
	cursor: pointer;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-edit-btn:hover {
	background-color: var(--danger-hover);
}

.todo-complete-btn {
	background-color: var(--success);
	cursor: pointer;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-complete-btn:hover {
	background-color: var(--success-hover);
}

.todo-details,
.todo-details-controls {
	padding: 10px;
}

.details-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 33%;
}

.details-wrapper.uneditable {
	color: gray;
	align-items: flex-end;
}

.edit-todo-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.footer {
	min-height: 50px;
	background-color: var(--nav-background);
	color: var(--nav-color);
	width: 100%;
}
